* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(43, 136, 240);
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}
:root {
  --select-color: #5b0e2d;
  --choice-color: #ffa781;
  --rotate-from: #030e4f;
  --rotate-to: #f49f1c;
}
.container {
  width: 500px;
  margin: auto;
  margin-top: 10vh;
}
.heading {
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}
.text-area {
  width: 500px;
  font-weight: 800;
  min-height: 10rem;
  padding: 1rem;
  font-size: 1rem;
  border: 0px solid white;
  background-color: white;
}
.choicepicked {
  display: block;
 color: white;
  width: 500px;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 3rem;
  animation-duration: 1s;
  animation-name: changebackgroundcolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes changebackgroundcolor {
  from {
    background-color: var(--rotate-from);
  }
  to {
    background-color: var(--rotate-to);
  }
}
.allchoices {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}
.choice {
  border-radius: 1.5rem;
  color: white;
  background-color: var(--choice-color);
  padding: 1rem;
  margin: 0.2rem;
}
#choiceblink {
  background-color: var(--select-color);
}
