*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
.image{
    display: block;
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    transition: all 3s;
}
.newimage{
    display: block;
    object-fit:cover;
    width: 100%;
    height: 100%;
    filter: none;
    transition: all 3s;
}
.unblurpercentage{
    position: absolute;
    
}